.grid {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 20px;
}

.row {
    display: table-row;
}

.item {
    display: table-cell;
    background-color: black;
    padding: 20px;
    margin: 20px;
}
    .item > footer {
        margin-top: 25px;
    }
