.content-box a:link {
    color: #639fff;
    text-decoration: none;
}
.content-box a:visited {
    color: #639fff;
    text-decoration: none;
}
.content-box a:hover {
    color: #f4f4f4;
    text-decoration: none;
}
.content-box a:active {
    color: #f4f4f4;
    text-decoration: none;
}


a:link {
    color: #f4f4f4;
    text-decoration: none;
}
a:visited {
    color: #f4f4f4;
    text-decoration: none;
}
a:hover {
    color: #639fff;
    text-decoration: none;
}
a:active {
    color: #639fff;
    text-decoration: none;
}
