@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Text+Me+One');

html {
    //min-height: 100vh;
}

body {
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1;
}

.post {
    margin-bottom: 150px;
}

a:link {
    text-decoration: none;
    color: black;
    padding: 0px 2px;
}
a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: white;
    background-color: #0fd7db;
}
a:active {
    text-decoration: none;
}

#logo {
    font-family: 'Text Me One', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
    font-size: 5em;
    text-align: center;
}

#header-nav {
    text-align: center;
    font-family: 'Text Me One', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2em;
    text-transform: uppercase;
}

.horizontal-menu li {
    display: inline-block;
}
